@charset "utf-8";

@import url('https://webfontworld.github.io/pretendard/Pretendard.css');



html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #333;
}

ul {
    list-style: none;
}

body {
    font-family: 'Pretendard';
    font-size: 18px;
    color: #333333;
    letter-spacing: -0.3px;
    min-width: 1320px;

}

/* 탑버튼 */
.top {
    position: fixed;
    bottom: 50px;
    right: 30px;
    display: none;
    z-index: 1;
}

.sum {
    position: fixed;
    bottom: 120px;
    right: 30px;
    display: none;
    z-index: 1;

}

/* 탑버튼 */




/* 스크롤바 */
body::-webkit-scrollbar {/*스크롤바 전체*/
    width: 12px;
  }
  body::-webkit-scrollbar-thumb {/*스크롤바 막대*/
    background-color: #35A069;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
  }
  body::-webkit-scrollbar-track {/*스크롤바 막대 외부*/
    background-color: #F3F3EB;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
  }
 /* 헤더 */
.header_in {
    width: 90%;
    max-width: 1783px;
    justify-content: space-between;
  
    margin: auto;
    display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 53px;
    align-items: center;
    flex: 1;
  }
  
  .nav li{
    position: relative;
    
  }
  
  .nav {
    display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  
    width: 35%;;
    min-width: 500px;
    justify-content: space-between;
    margin-left: 8%;
  
  }
  
  .nav>li>a {
    font-size: 20px;
    font-weight: 700;
    color: #333;
  margin: 0 30px;
    box-sizing: border-box;
    padding-bottom: 30px;
  }
  
  
  .nav>li:hover>a {
    color: #70BC80;
  }
  
  .nav li:hover .sub {
    display: block;
  }
  
  .sub a {
    color: #fff;
    font-size: 16px;
    display: block;
    font-weight: 500;
    box-sizing: border-box;
    text-align: center;
    padding: 9px 0;
  
  }
  
  .sub a:hover{
    font-weight: bold;
    color:#BFD994
  }
  .sub {
    align-items: center;
    display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 30px;
    background-color: #35A069;
    width: 100%;
    display: none;
    z-index: 1;
    border-radius: 22px;
    padding: 13px 0;
  }
  
  
  /* 헤더_서브 */
  
  
  
  /* 헤더_검색창 */
  .header_r {
  
    display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
  }
  
  .header_r li {
    padding-left: 17px;
  }
  
  .header_r a {
    color: #666;
    font-weight: 500;
    font-size: 16px;
  }
  
  .search {
    padding-right: 5px;
  }
  
  .search-box {
    height: 45px;
    width: 238px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    border: 1px solid #70BC80;
    box-sizing: border-box;
    display: block;
    padding: 14px 21px;
  }
  
  .search-txt {
    font-family: 'Pretendard';
    border: none;
    background: none;
    outline: none;
    float: left;
    color: #999999;
    font-size: 14px;
    width: 160px;
    font-weight: 600;
  }
  
  .search-btn {
    float: right;
    border: none;
    background-color: #fff;
    display: flex;
  }
  
  /* 헤더_검색창 */
  
  
  /* 헤더 */
  
  



/* p.1 */

.p1 {
    width: 100%;
    height: 807px;
    background: url(../image/p1back.png) no-repeat center top;
    margin-top: 70px;
    background-size: cover;
}


.section {

    padding-top: 270px;
    font-size: 37px;
    line-height: 44px;
    color: #F3F3EB;
    font-weight: 600;
    text-align: center;


}

.section p {
    font-size: 18px;
    color: #F3F3EB;
    padding-bottom: 5px;
    font-weight: 500;
    line-height: 31px;
    padding-top: 40px;
}


.section span {
    font-weight: bold;
    color: #BFD994;
}


/* 띠 애니메이션 */
.marquee {
    background-color: #35A069;
    height: 34px;
    padding: 16px 0 13px 0;
    overflow: hidden;
    position: relative;
}

.marquee div {
    width: 200%;
    height: 34px;
    background: url(../image/belt2.png) repeat-x;
    position: absolute;
    animation: marquee 15s linear infinite;
}

@keyframes marquee {
    0% {
        left: 0;
    }

    100% {
        left: -100%;
    }
}


/* p2 */

.p2 {
    width: 100%;
    height: 891px;
    background: url(../image/back_shape.png) no-repeat center 84px;
    background-color: #194E33;
    box-sizing: border-box;

}




.round {
    background-color: #BFD994;
    display: inline-block;
    border-radius: 40px;
    color: #1D613E;
    font-size: 14px;
    font-weight: 600;
    padding: 6px 13px;
}


.title {

    color: #fff;
    font-size: 30px;
    font-weight: 700;
    padding-top: 15px;
    padding-bottom: 25px;
}

.sub_text {
    line-height: 31px;
    color: #D9D3C9;
}

.p2 span,
.p3 span {
    color: #BFD994;
}


.text1 {
    width: 459px;
    margin: auto;
    padding-top: 190px;
    padding-left: 600px;
    position: relative;
}


.flag {
    position: absolute;
    top: 145px;
    left: 250px;
    animation: flag 0.8s infinite alternate linear;
}

@keyframes flag {
    0% {
        transform: rotate(-7deg);
    }

    100% {
        transform: rotate(7deg);
    }
}


.text2 {
    text-align: right;
    width: 459px;
    margin: auto;
    padding-top: 125px;
    padding-right: 600px;
    position: relative;

}

.bubble1 {
    position: absolute;
    top: 185px;
    right: 270px;
    animation: bubble1 0.5s ease-in-out alternate infinite;
}


.bubble2 {
    position: absolute;
    top: 105px;
    right: 140px;
    animation: bubble2 0.5s ease-in-out alternate infinite;
}

@keyframes bubble1 {
    0% {
        transform: translate(0);
    }

    100% {
        transform: translateY(7px);
    }
}


@keyframes bubble2 {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(7px);
    }
}

/* p3 */

.p3 {
    width: 100%;
    height: 593px;
    background: url(../image/p3_back.png) no-repeat center top;
    background-color: #6D6650;
    box-sizing: border-box;
}

.text3 {
    text-align: right;
    width: 459px;
    margin: auto;
    padding-top: 180px;
    padding-right: 400px;
}


/* p4 */


.p4 {
    width: 100%;
    height: 1387px;
    background: url(../image/p4_back.png) no-repeat center top;
    background-color: #DFDCD3;
    overflow: hidden;
}

/* 띠 애니메이션 */
.marquee2 {
    height: 132px;
    padding: 40px 0 13px 0;
    overflow: hidden;
    position: relative;
}

.marquee2 div {
    width: 300%;
    height: 132px;
    background: url(../image/Join_belt2.png) repeat-x;
    position: absolute;
    animation: marquee2 15s linear infinite;

}

@keyframes marquee2 {
    0% {
        left: 0;
    }

    100% {
        left: -100%;
    }
}

.p4 ul {
    list-style: url(../image/liststyle.png);
    padding-left: 30px;
}

.p4_text {
    margin: auto;
    width: 386px;
    text-align: center;
    padding-top: 65px;
}

.t {
    color: #1D613E;
    font-weight: 800;
}

.p4_text .title {
    color: #464031;
    font-weight: 700;
    font-size: 35px;
    line-height: 49px;
}

.round2 {
    background-color: #AFCC80;
    display: inline-block;
    border-radius: 40px;
    color: #1D613E;
    font-size: 14px;
    font-weight: 700;
    padding: 6px 13px;
}

.list {
    width: 333.55px;
    margin: auto;
    padding-top: 15px;
}

.list li {
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 17px;
}

.round3 {
    background-color: #70BC80;
    display: inline-block;
    border-radius: 40px;
    color: #194E33;
    font-size: 14px;
    font-weight: 700;
    padding: 6px 13px;
}

.group {
    text-align: center;
    padding-right: 120px;
}

.small_title {
    font-size: 28px;
    font-weight: 700;
    color: #F3F3EB;
    padding-top: 15px;
    padding-bottom: 30px;
}

.small_text {
    font-size: 15px;
    color: #DFDCD3;
    line-height: 25px;

}

.s {
    color: #BFD994;
    font-weight: 800;
}

.circle {
    display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1300px;
    margin: auto;
    padding-top: 180px;
    box-sizing: border-box;
    padding-left: 285px;
}

.circle {
    position: relative;
}

.fade_up3{
    display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1300px;
    margin: auto;
}
.p4_star {
    position: absolute;
    top: -430px;
    right: -110px;
    animation: p4_star 0.6s infinite alternate linear;
}


@keyframes p4_star {
    0% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(10deg);
    }
}


.p4_dice {
    position: absolute;
    top: -300px;
    left: -150px;
    animation: p4_dice 0.6s infinite alternate linear;
}

@keyframes p4_dice {
    0% {
        transform: rotate(-7deg);
    }

    100% {
        transform: rotate(7deg);
    }
}


.p4_flag {
    position: absolute;
    top: 70px;
    left: 140px;
    animation: p4_flag 0.6s infinite alternate linear;
}

/* @keyframes p4_flag {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(10deg);
    }
} */


.p4_sum {
    position: absolute;
    top: 340px;
    right: 120px;
    animation: p4_sum 0.6s infinite alternate linear;
}

/* @keyframes p4_sum {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(10deg);
    }
} */


.p4_bubble {
    position: absolute;
    top: 250px;
    right: 100px;
    animation: p4_bubble 0.6s infinite alternate linear;
}



.p4_bottom {
    padding-top: 180px;
    width: 580px;
    margin: auto;
    text-align: center;
}

.p4_bottom_p {
    font-size: 18px;
    color: #857F6D;
    line-height: 30px;
    padding-bottom: 80px;
}

.p4_btn{
    font-size: 20px;
    color: #EEE;
    background-color: #353129;
    padding: 30px 60px;
    border-radius: 50px;
    letter-spacing: -0.4px;
    font-weight: 700;
}

.p4_btn:hover{

    color: #BFD994;
    background-color: #26231D;

    
}
/* 형광펜 */

 /* 효과 꾸미기 */
 .highlight {
    background: linear-gradient(to right, #BFD994 50%, transparent 50%) 100% 0;
    background-size: 200%;
    transition: all 2s;
    color: #1D613E;
    font-weight: 800;
}

.on {
    background-position-x: 0;
}


/* 푸터 */
footer {
    background-color: #F3F3EB;
  }
  
  .footer_wrap {
    width: 90%;
    max-width: 1783px;
    padding: 80px 0;
    margin: auto;
    display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
  }
  
  .footer_right {
    text-align: right;
    align-items: end;
  }
  
  .footer_left p {
    font-size: 16px;
    line-height: 30px;
  }
  
  .b a {
    font-weight: 700;
    font-size: 16px;
    margin-right: 15px;
  }
  
  .b a:hover{
    color: #35A069;
  }
  .b {
    margin-bottom: 23px;
  }
  
  .footer_right a:hover{
    color: #35A069;
  }
  .footer_right p {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  
  .footer_icon {
    margin-top: 45px;
  }
  
  .footer_icon a {
    margin-left: 5px;
  }
  
  .footer_icon a:hover {
    opacity: 80%;
  }